/* General styles */
body {
    margin: 0;
    padding: 0;
}

.content {
    height: 200px;
    padding-top: 100px;
}

/* Carousel styles */
#carouselExample {
    height: 700px;
    /* altura máxima de carousel */
    overflow: hidden;
    /* que recorte la imagen si mide más */
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

