/* Carousel styles */
#carouselExample {
    height: 700px;
    /* altura máxima de carousel */
    overflow: hidden;
    /* que recorte la imagen si mide más */
}

.carousel-inner,
.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

#preparation_process {
    background-image: url('images/sky.jpg');
    background-size: cover;
    background-position: center;
    padding: 500px;
    position: relative;
}

#preparation_process_title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 36px;
    text-align: center;
}


#steps_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
}


.step {
    text-align: center;
    position: relative;
}


.circle {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 3px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 0 auto;
    z-index: 2;
}


.step_description {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
    max-width: 150px;
}


.line {
    width: 3px;
    height: 100px;
    background-color: red;
    margin: 0 auto;
    z-index: 1;
}